<div class="card">
    <h1 class="card-body">Notes App Nodejs and Mongodb</h1>
    <p class="card-body">Nicolas Arancibia Guerrero</p>
    <hr class="my-4">
    <p class="card-body"> Nicolas Arancibia Guerrero Nicolas Arancibia Guerrero Nicolas 
        Arancibia Guerrero Nicolas Arancibia Guerrero Nicolas Arancibia 
        Guerrero Nicolas Arancibia Guerrero Nicolas Arancibia Guerrero 
        Nicolas Arancibia Guerrero Nicolas Arancibia Guerrero Nicolas 
        Arancibia Guerrero.
    </p>
    <a href="https://github.com/Niag2021" class="btn btn-primary btn-lg">Repositorio Git Hub</a>
</div>

